/* -Colors- */
/* Primary */
$yellow: hsl(47, 88%, 63%);
/* Neutral */
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 50%);
$black: hsl(0, 0%, 7%);

/* -Font- */
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');
